.has-success{
    border-color: #5cb85c;
}

.form-control-success {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E")
}

.gif_loading{
    float: right; 
    display: none
}

.gif_error{
    float: right; 
    display: none; 
    color: red
}

.cep_invalid{
    padding-right: 10px;
    margin-left: -5px;
}

.cep_loading{
    padding-right: 10px;
    margin-left: -5px;
}